{% extends 'base.html' %} {% block content %}
<div class="jumbotron">
    <div class="container">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src={{ imovel.photo.url }} alt="Card image cap">
            <div class="card-block">
                <h3 class="card-title">{{ imovel.nome }}</h4>
                <p class="card-text">{{ imovel.endereco }}</p>
                <p class="card-text">{{ imovel.preco }}</p>
                <a href="{% url 'cms:imoveis_view' %}" class="btn btn-primary btn-lg">Voltar para a lista</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
